body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

h3 {
  color: #557135; 
}

#actionButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.dropdown-item {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #F4AD17;
  transition: background-color 0.3s ease;
}



.dropdown-item2 {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #E46422;
  transition: background-color 0.3s ease;
}


.dropdown-item3 {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #546D35;
  transition: background-color 0.3s ease;
}


