body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 800px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

h2, h3 {
  color: #333;
  margin-top: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.button {
  flex: 1;
  margin: 15px;
  padding: 16px 28px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d553a3;
}

.button.carrello {
  background-color: #F4AA15;
}

.button.supermercato {
  background-color: #517033;
}

.button.logout {
  background-color: #CC4A18;
}
.button.logout:hover {
  background-color: #FDB64C;
}
